Ejercicio Debate 3 Series temporales Bike sharing

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import ensemble
from sklearn import linear_model
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline # Nos ayudará a automatizar todo
from sklearn.model_selection import GridSearchCV # Nos ayudará a realizar cross-validation
#from sklearn.ensemble import RandomForestClassifier # Modelo de Random Forest
from sklearn.metrics import classification_report, accuracy_score # Métricas de precisión y performance
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score
from sklearn.metrics import precision_score, plot_confusion_matrix

# for basic mathematics operation 
import numpy as np
import pandas as pd
from pandas import plotting

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

In [2]:
# importing the dataset
path = "C:\\PROGRAMAS PYTHON\\UIDE\\APRENDIZAJE AUTOMATICO\\clase 3\\forecasting_exercise.csv"
data = pd.read_csv(path)
data.head()

#species = data['species'].unique()
#print("Estas son todas las especies:   ")
#print(species)

,instant,dteday,hr,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,2,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,3,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,4,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.75,0.0,0,1,1

In [3]:
#  describimos las variables 
data.describe()

,instant,hr,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17280.000000,17279.000000,17279.000000,17279.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,11.546752,0.497071,0.475530,0.627235,0.190114,35.676218,153.786869,189.463088
std,5017.0295,6.914405,0.192474,0.171782,0.193047,0.122378,49.305030,151.357286,181.387599
min,1.0000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,6.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,12.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,18.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,23.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [4]:
# revisamos el formato de cada columna y si tienen datos nulos

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   hr          17379 non-null  int64
 3   weathersit  17279 non-null  object
 4   temp        17280 non-null  float64
 5   atemp       17279 non-null  float64
 6   hum         17279 non-null  float64
 7   windspeed   17279 non-null  float64
 8   casual      17379 non-null  int64
 9   registered  17379 non-null  int64
 10  cnt         17379 non-null  int64
dtypes: float64(4), int64(5), object(2)
memory usage: 1.5+ MB

In [5]:
print(data.columns)
#print(data['species'].unique())
#data.head()

Index(['instant', 'dteday', 'hr', 'weathersit', 'temp', 'atemp', 'hum',
       'windspeed', 'casual', 'registered', 'cnt'],
      dtype='object')